body {
  border-style:double;
  border-radius: 10px;
}

.menus {
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  
}

#header {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  text-align: center;
}

.description:hover {
  text-decoration: underline;
}

.ingredients {
  margin: 20px;
}

.ingredients:hover {
  text-decoration: underline;
  
}

.steps {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
  bottom: -4px;
}

.steps:hover {
  text-decoration: underline;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p {
  text-align: center;
  font-size: 20px;
}

ul {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 30%;
}

ol {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  position: absolute;
  right: 30px;
  width: 400px;
  padding: 0px;
  bottom: -515px;
}
